.seyli_cont_banner{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/IMG_1454.jpg);
       
}
.seyli_sombra{
    position: absolute;
    left: 10%;
    top: 20%;
    -ms-transform:translate(50% 50%) ;
    -webkit-transform: translate(50% 50%);
    transform: translate(50% 50%);
    padding:20px ;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color:seashell;
    margin: auto;
}
.seyli_sombra hr{
    border-top: 1px solid #fff;
}
.seyli_sombra h1{
    font-size: 8vw;
    margin-bottom:10px ;
}
.seyli_sombra p{
    font-size: 8vw;
    margin-bottom:10px ;
}
.seyli_cont_link{
    margin: 15px;
    position: relative;
}
.seyli_cont_link a{
    position: relative;
    display:inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}
.seyli_cont_link a:hover{
    background-color: #fff;
    color: #111;
}
.seyli_banner_link{
    opacity: 0;
    animation:seyli_aparecer_de_arriba 1s;
    -webkit-animation: seyli_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
}
    
.seyli_banner_link_1{
    opacity: 0;
    animation:seyli_aparecer_de_arriba 2s;
    -webkit-animation: seyli_aparecer_de_arriba 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.seyli_banner_link_2{
    opacity: 0;
    animation:seyli_aparecer_de_arriba 3s;
    -webkit-animation: seyli_aparecer_de_arriba 3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
.seily_cont_banner3{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/IMG_1461-2.jpg);
    position: relative;
    padding: 10%;
    margin-top: 200px;
    margin-bottom: 100px;
 

}
.seily_cont_banner3 .row{
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
    padding: 2%;


}
.seyli_banner_img{
    padding: 5%;

}
.seily_cont_banner4{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/15s.PNG);
    position: relative;
    padding: 10%;
    margin-top: 200px;
    margin-bottom: 100px;
  
}
.seily_cont_banner4 .row{
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
    padding: 2%;

}
.row{
    margin: 40px;
    padding: 15px;}

.img{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/20210614_100203.jpg);
    position: relative;
    padding: 10%;
    margin-bottom: 100px;
  
}
.img{
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
    
}
.Copyright{
    width: 100%;
    margin-bottom: 20px;
}
